.App {
  /* background-image: url("mobile-design.jpg"); */
  background-repeat: no-repeat;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: "Outfit";
  font-weight: 400;
  text-align: center;
  font-size: 15px;
  color: var(--grayish-blue);
}

#card {
  background-color: var(--white);
  margin: auto;
  padding: 15px;
  border-radius: 20px;
  max-width: 320px;
  box-shadow: 0px 10px 20px -15px var(--grayish-blue);
}

/* @media (min-width: 375px) {
  .App {
    background-image: url("desktop-design.jpg");
    background-size: cover;
  }
  #card {
    margin: auto;
  }
} */

#card img {
  border-radius: 12px;
  width: 100%;
}
#card h1 {
  color: var(--dark-blue);
  font-size: 22.5px;
}

.desp {
  padding: 0px 16px 0px;
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: local('Outfit Regular'), local('Outfit-regular'),
       url(./Outfit-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: local('Outfit Bold'), local('Outfit-bold'),
       url(./Outfit-Bold.ttf);
}